# kind-config.yaml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 80
    hostPort: 80
    protocol: TCP
  - containerPort: 443
    hostPort: 443
    protocol: TCP
  # Kafka broker ports
  - containerPort: 9092
    hostPort: 9092
    protocol: TCP
  - containerPort: 9093
    hostPort: 9093
    protocol: TCP
  # Kafka NodePort access
  - containerPort: 30092
    hostPort: 30092
    protocol: TCP
  - containerPort: 30093
    hostPort: 30093
    protocol: TCP
  # Argo CD UI
  - containerPort: 30080
    hostPort: 30080
    protocol: TCP
